@tailwind base;
@tailwind components;
@font-face {
  font-family: 'OwnersNarrowBold';
  src: url('./assets/fonts/OwnersNarrow-Bold.woff2') format('woff2'),
    url('./assets/fonts/OwnersNarrow-Bold.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ScandiaRegular';
  src: url('./assets/fonts/Scandia-Regular.woff2') format('woff2'),
    url('./assets/fonts/Scandia-Regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

@tailwind utilities;
/* @import url('./assets/fonts/OwnersNarrow-Bold.ttf'); */

